<div class="card p-4 shadow-sm rounded-4">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <p class="m-0 fw-bold text-decoration-underline small">
      # {{ ticket.protocol }}
    </p>

    <p class="m-0 text-secondary small">
      {{ ticket.getDurationText() }}
    </p>

  </div>

  <h3 class="mb-4">
    {{ ticket.title }}
  </h3>

  <div class="d-flex gap-2 mb-2">
    <span class="fw-semibold">Fila:</span>
    <p class="m-0"> {{ ticket.queue.area }}</p>
  </div>

  <div class="d-flex gap-2 mb-2">
    <span class="fw-semibold">Menções:</span>
    <p class="m-0"> {{ ticket.getMentionsText() }}</p>
  </div>

  <div class="d-flex gap-2 mb-2">
    <span class="fw-semibold">Status:</span>
    <span class="badge bg-warning text-dark">
      {{ ticket.state }}
    </span>
  </div>

  <div class="d-flex gap-2 mb-4">
    <span class="fw-semibold">Última atualização:</span>
    <p class="m-0"> {{ ticket.getLastUpdatedOnText() }}</p>
  </div>

  <button class="btn btn-primary w-100">
    Ver detalhes
  </button>

</div>
